.App .hook {
    
    box-sizing: border-box;
    height: 100vh;
    margin-left: "20px";

}

.room {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.game-box {
    display: flex;
    flex-direction: row;
    height: 70vh;
    width: 100%;
    margin-left: "20px";
    margin-bottom: 10px;
}

.board {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 60%;
    background-color: yellowgreen;
}

.rolling {
    display: flex;
    flex-direction: column;
}

.score-table, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 4px 10px;
    color: black;
}

.board td.grey {
    color: grey;
}

.board td.black {
    color: black;
}

.board td.grey:hover {
    color: black;
}


.dice {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid black;
}

