.App .hook {
    
    box-sizing: border-box;
    height: 80vh;
    margin-left: "20px";

}

.room {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.game-box {
    display: flex;
    flex-direction: row;
    height: 60vh;
    width: 100%;
    margin-left: "20px";
    margin-bottom: 10px;
}

.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
    background-color: yellowgreen;
}

.dice {
    height: 50px;
    width: 50px;
    background-color: white;
    border: 1px solid black;
}